* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 30px;
  padding: 40px 60px;
  margin: 0 auto;
}

header img {
  max-height: 100px;
  max-width: 100px;
  margin: 5px 15px 0 0;
}

/* login */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eec899;
  background-size: cover;
  background-position: 0px -50px;
}

.wrapper {
  position: relative;
  width: 420px;
  height: 450px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #4d2d18;
  border-radius: 10px;
  padding: 30px 40px;
  overflow: hidden;
  transition: transfrom 0.6s ease, height 0.2s ease-in-out;
  margin-top: 5%;
}

.wrapper form {
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 10px;
  transition: all 0.5s ease;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  display: flex;
  width: 80%;
  justify-content: space-between;
  position: relative;
  margin: 40px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #4d2d18;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #4d2d18;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}

.wrapper .remember-forgot {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 40px 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #4d2d18;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .loginUser-btn {
  width: 80%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #4d2d18;
  font-weight: 600;
  margin: 0 40px;
  /*transition: transform 0.3s ease;*/
}
.wrapper .registerUser-btn {
  width: 80%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #4d2d18;
  font-weight: 600;
  margin: 0 40px;
  /*transition: transform 0.3s ease;*/
}

/*.wrapper .btn:hover {
  transform: scale(1.1);
}*/

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #4d2d18;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* Register */
.wrapper .register-form {
  transform: translateX(-100%);
}

.register-form .input-box {
  display: flex;
  width: 80%;
  justify-content: space-between;
  position: relative;
  margin: 40px;
}
.register-form .login-link {
  margin: 40px;
}

.change-form {
  height: 550px;
}
.change-form .login-form {
  transform: translateX(100%);
}
.change-form .register-form {
  transform: translateX(0%);
}

.wrapper .login-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.login-link p a {
  color: #4d2d18;
  text-decoration: none;
  font-weight: 600;
}

.login-link p a:hover {
  text-decoration: underline;
}

.Kirje-Hahmo {
  float: right;
  width: 160px;
  height: 120px;
}

.header-bar {
}
.header-bar .logo {
}
